
body {
    background-color: #FFF3DB;
    font-family: 'Roboto', sans-serif !important;
}
nav {
    background-color: #008EB9;
    width: 100%;
    height: 60px;
}
.nav-btn {
    width: 190px;
    height: 40px;
    border-radius: 15px;
    color: #010047;
    font-weight: 450;
    margin: 10px 50px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all 0.3s;
    background-color: #FFF3DB;
}
.main-content {
    width: 90%;
    align-self: center;
    margin: 0 auto;
}
h1 {
    color: #010047;
    font-size: 24px;
}

.btn-base {
    width: 160px;
    height: 40px;
    border-radius: 15px;
    color: white;
    font-weight: 450;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #008EB9;
}

.searchButton {
    width:80px;
    border-radius: 10px;
    color: white;
    font-weight: 450;
    background-color: #008EB9;
}